h1{
  
    background-color: red;
    border:solid black 10px;
    margin: auto;
    width:50%;
    height:100px;
    padding:50px;
    border-top: yellowgreen;
    
 
}
p{
    text-align: right;
   direction:rtl;
   text-transform:capitalize;
   border-left:red 10px solid;
   text-decoration:underline blue dotted;
  
}
h2{
    background-color: red;
    max-width:700px;
    min-width: 100px;
    max-height: 800px;
    min-height: 50px;
}
body{
    background-image:url(photo/logo3.jpg) ;
    /* background-repeat: ابحث عجوجل عنها بتلاقي خلفيات حلوة لو تكررت بتجمل شكل الموقع;  */
    background-repeat: no-repeat;
    background-position: top left;
    /* width:fit-content; */
    /* background-attachment: ;
    fixed الصورة بتنزل معك كلما تنزل لتحت
    scroll الصورة بتضل محلها وبتنزلش
    
    */
    /* background-position: center  السنتر اذا حطيتها لما اصير اعمل زوم بالمتصفح بروح على نص الصورة الزوم عشان اذا حدا فتح من شاشة صغيرة ونفس الاشي بقدر احط ليفت او رايجت 
    قيمةx  قيمة y 
    او موقعها على اكس وواي مثلا توب رايجت او بوتتوم ليفت
    ;
     */
    /* background-size: 
    --px(width) --px(height)
    or
    50% or نسبة مئوية من حجم الشاشو او حجم الاب تاعها
    cover مهما زدت حجم الشاشة الصورة بتضل تكبر عشان تلائم الشاشة كلها  وممكن تتشوه وتصير مش حلوة 
    contain بتكبرلك الصورة كل ما زدت حجم الشاشو ولكن اذا عرض او ارفاع الصورة مكفاش فهي بتكبرهاش عشان تحافضلك على الصورة
     */
     /* background-origin:
     padding-box: الصورة بتبلش من البادينغ وبتنعرض عليها 
     border-box الصورة بتنعرض داخل صندوق البوردر يعني البادينغ بتنعرضش عليها الصورة
     content-box الصورة بتبلش تنعرض داخل صندوق الكونتينت
     ; */
     /* بقدر اختصر كل تاعوت الخلفيةي بسطر 
     background:background-color background-image background-size/background-position background-origin ;
     */
     /*عشان احط الوان مدموجة بالخلفية بستخدم 
     background-image:linear-gradient(to direction(بقدر احطه توب او رايغت وهيك او توب ليفت وبوتووم رايت وهيك) , color1 80%,color2 80%,.....)
      بقدر احط نسبة كل لون من مية جنبه بالزبط بالي فوق هاي وبقدر احط بداية ونهاية لكل لون من مية يعني اللون1 ببلش من صفر 
      لحد80 بالمية واللون 2 ببلش من 80 بالمية لحد 100 وهيك انا مخليتش مكان للتدريج ةنفس الشي لو كان في اكثر من لون وبدقر اتحكم فيه مثل ما بدي
      بقدر اعمل درجة شفافية بدل احد الالوان يعني من اللون الي اخترته لحد ما يصير شفاف وبكل بساطة بحط فاصلة وبكتب 
      transparent
     */
     /* background-image: radial-gradient(); هاي نفس اللاينير بس بتيجي دائري التدرج مش خطي 
     
     داخل القوس اول اشي بحط الشكل الدائري الي بدي اياه اما
     circle  التدرج دائرة بالنص وبقدر اتحكم بسمكها من خلال كتابة السمك بالبسكل جنبها 
     او 
     ellipse وهو الافتراضي وبكون بيضاوي بقدر اتحكم بعرضها وارتفاعها من خلال كتابتهن بالبكسل جنبها لانها بيضاوي مش زي الدائرة
     بقدر اتحكم بموقعها برضو من خلال كتاب الي بالسطر الي تحت جنب السيركل 
     at direction 
     */
}
h3{
      /* text-decoration: ;  بتعمل خط تحت النص او نصه او فوقه ولون الخط ونوعه ستايله */
      /* text-transform: ; بتتحكم بالنص احرف كبيرة وصغيرة */
      /* min-width/max width/min height/max-height  بتحكمن باقصى واصغر عرض وارتفاع يمكن يوصله الصندوق */
      /* width:fit-content/min-content/max-content; الفيت بتعمل العرض عحسب الكونتينت بس والمين بتقسم كل كلمة عسطر والماكس كلو عنفس السطر  */
    background-color: yellow;
    text-shadow: 5px 2px 5px yellowgreen;
    /* box-shadow: 8px 10px 10px 2px red inset ;   القيمة الرابعة للسبريد او الانتشار والينسيت بتعمل الشادو من جوا */
    letter-spacing:2px;
    word-spacing: 5px;
    line-height: 50px;
    white-space:;
    /* word-wrap:break-word;  هاي عشان اذا حددت ويدث معين لصندوق التاغ وكان في عندك كلمة طويلة فهي بتعملها بريك بتقسمها وبتنزلها عسطر جديد عشان ما تتخطى الويدث المحدد */
    /* white-space:nowrap; حتى لو كان عندي كلمات منفصلة ومحدد ويدث معين فهن رح يخترقنهن ويكملن عنفس السطر */
    /* white-space: normal; هاي يعني الوضع الافتراضي الها وهو انه لما يكون عندي نص من كلمات كثيرة وويدث معين بصير ينزل باسطر عشان ما يتخطى الويدث*/
     /* white-space: pre; هاي بتحط المسافات وبتكتب النص مثل ما انت كاتبه بالكود بالزبط بس بتعملش وراب يعني النص بخترق الويدث المحدد اذا في ويدث*/
     /* white-space: pre-wrap; هاي نفس الي فوق بس بتعمل وراب   */
     /* white-space: pre-line; هاي بتعمل كلشي نفس الي بالكود بالزبط ما عدا المسافات والتغييرات الي داخل النص او داخل السطر بتنفذها بشكل طبيعي كانه فش بري */
/* font-family: ; 
search at web safe fonts in google 
هذول خطوط امنة موجودات في جميع المتصفحات عكل الاجهزة وبشتغلن عند الكل 
fallpack fonts : 
font-family:first font , second fonts ;
السيكوند فونتس هاض اختياطي عشان اذا الخط الاول مكنش موجود عمتصفح المستخدم يظهرله الاحتياطي

انواع الخطوط :
1 serif هاي بتكون مع نتوء عالاحرف وهي المناسبة للمواقع الرسمية 
2 sans-serif: هاي بتكون دون نتوء ومناسبة للمواقع الشبابية وبتغير شكل الخط
اسماء الخطوط الي بقترحها المتصفح بتكون مع فواصل وخطووط احتياطية ولما يكون اسم الخط اكثر من كلمة بنحطه بين علامات تنصيص او كوتيشن
ابحث على جوجل عن google fonts 
هاي خطوط امنة بتظهر بكل الاجهزة بختار الي بعجبني وبختاره وفي طريقتين عشان استعمله اما عن طريق نسخ ال 
<link> تاعه من الموقع واحطه بالهيد 
او من خلال ال @import 
وبرضو بنسخها وبحطها داخل الهيد او بنسخ الكود وبحطه بصفحة الستايل 
وبالحالتين بكون معطيني اسم الخط الي احطه بالفونت فاميلي 
وانتبه لما اجي اوخذ خط لازم اخلي خط واحد بالسلة لان اذا خليت اكثر من واحد بنسخ رابطهن كلهن وبضيفهن للصفحة 
font-varient:normal/small-caps;
نفس التيكست ترانسفورم ابر كايس بس الفرق بالتكستترانسفورم بتكبر الحروف والكلمة كلها وهاي بس بتكبر الحروف مش الكلمة كلها
*/
/* ----------------------------------------- */
/*font-weight:سمك الخط وغالبا لا تعمل جميع صفاته على جميع الخطوط
normal : الوضع الطبيعي
bold: بعمله سميك
bolder :بعمله اسمك من الاب تاعه يعني لو كان في سبان داخل فقرة والفقرة معمولها بولد والسبان عملتها بولدر بتصير اسمك من الاب تاعها وهو الفقرة
lighter: نفس البولدر بس هاي بتخليه ارفع
inherit: هاي معناها توريث يعني يوخذ السمك تاع الاب تاعه مثلا لو في اتش ون داخل فقرة وبدي الاتش ون نفس شمك الفقرة بحطها
كمان قيم رقمية للويجت 
Font weight:
100 => thin
200 => semi-light
300 => light
400 => normal
500 => meduim
600 => semi-bold
700 => Bold
800 => ultra bold
900>=Black
*/
/* 
fonts : 
font-family
font-style
font-varient
font-size
font-weigh
line-height تباعد الاسطر
بقدر اختصرهن كلهن هيك
font:font-size/line-height font-family  font-style font-varient font-weigh;
بدون الفونت فاميلي او الفونت سايز ولا وحدة بتشتغل فيهم اما الباقيات عادي لو قمت وحدة منهن
*/

    }
    .float{

        /* باختصار احضر فيديو الفلوت لانها لخة وقايمة بس باختصار الفلوت بتساعدك لما بدك تعمل صور او محتوى ييجي جنب محتوى ثاني 
        ووضيفتها تطلعلك العناصر الي داخل تاغ معين نثل الديف الى خارجه  */
    }
    #overflow{
        /* هاي عشان اذا كنت محدد عرض وطول معين للتاغ تاعي وحطيت فيه نص زيادة عن الحدود فبدل ما استخدم الوايت سبيس او الوورد راب بستعمل هاي
        والها عادة قيم وهي 
        scroll بعمل سهم او خط عشان تزيح لليمين والشمال او لفوق وتحت داخل التاغ عشان تشوف المخفي 
        hidden بتخفي الاشساء الزيادة عن الحدود 
        visible الافتراضية وبتخطين الحدود وكل اشي 
        auto هاي بتتحكم بالسكرول يعني اذا في نص طالع على محور اكس بتعمل سكرول واذا في عمحور واي بتعمل سكرول واذا فش عالثنين بتعملش سكرول
        overflow-x:;  نفس المحور واي بس هاي على اكس بتطبق
        overflow-y:; اذا في زيادة على محور واي بتطبق عليه الي بكتبه سواء سكرول او غيره
        */
    }
    /*  في عند اشي اسمه position
     وهاد بخليك تتحكم بموقع العنصر على الشاشة واله عدة انواع والافتراضي هو ستاتيك وبكون هيك بكتبه
     position:هون بكتب النوع ;
      وهون بكتب الاتجاهات للتحرك
      top:;
      bottom:;
      left:;
      right:;
       والانواع هن 
       static الافتراضي وبقدرش احركه واتحكم بالاتجاهات
       relative بحافظ على مكانه الاصلي وبقدر استعمله عشان احط صور او تاغات وعناصر مرتبة فوق بعض وهيك لاني بقدر احركه كيف بدي
       absolute 
       fixed نفس الابسوليوت بس هاض بفيدني اذا بدي اعمل شعار الموقع واخليه ثاتب بقاع الصفحة بحيث انه لا يحافظ على مكانه الاصلي 
        ويتحرك نسبة للشاشة المفتوحة وبكون كانه فلوت والعنصر الي بعده بكون مكانه والي بميوه عن الابسوليوت انه مثلا اذا حطيته على البوتتوم زيرو 
        ونزلت الشاشة لتحت الشعار بصير ينزل معك عادي اما الابسوليوت بضل مكانه ولما تنزل بنزلش معك
        sticky بفيدني عشان اعمل سطر الموقع من فوق الي ببين فيه اسم الموقع بحيث انه بصير ينزل معي لتحت لحد ما يوصل لنهاية الاب تاعه ببطل ينزل
         
        بس اذا الباربنت تاع اي وحدة كان معموله بوزيشون فالحركة بتكون بالنسبة للبارينت
        */
        .nav{
            position:sticky;
            top:0;
             transition: property duration timing function relay ;
        }
        /* z-index 
        هاي خاصية يا سيدي العزيز وضيفتها تتحكملك بموقع عنصر معين من خلال القيمة تاعته مثلا عندي بالبوزيشون 3 عناصر وعملتهن ابسيليوت او ريلاتيف وحطيتهن
        فوق بعض وبدي اتحكم بمين يظهر اول اشي فالي بظهر اول اشي هو الي اله قيمة زد اندكس اكبر واذا دنزل عنصر بحط سالب  */

        /* البسيدو ايليمنت والبسيدو كلاسس
        الكلاسس هاي بتكون يعني لما عنصر معين تاشر عليه بالماوس مثله يتغير شكله او لونه وهيك يعني الي هو الكلاس كامل بطبق عليه
        بس الايليمنت جزء واحد من الكلاس مثلا اول سطر يطبق عليه تغييرات
        الكلاسس بحط نقطتين فوق بعض اما الايليمنت بحط 4 نقاط يعني دبل
        مثلا اذا بدي اغير لون اول سطر بحط 
        ::first-line{}
        ونفس الاشي بقدر احط الفيرست ليتر اول حرف
        وبقدر اغير السيلكشن الي هو لما احدد نص بالماوس بقدر اغير لونه واغير عليه ولون خلفيته واذا بدي تطبق تغيير معين على جزء معين فقط من كل تاغ بالموقع
        بحط الاربع نقاط وبحددش قبلهن عشو بدي اياه هيدر او فقرة وغيره ونفس الاشي السيلكشن بقدر اغيره لكل الصفحة بنفس الطريقة
         */

         /* هس عندي البيفور وافتر من البسيدو ايليمنت وهذول بحطن نص او عنصر او الي بدي اياه قبل العنصر الي بختاره او  بعده وبتفيدني مثلا 
         اذا عندي فقرات كثير وجنب كل فقرة بدي اضيف خط جانبي جانب كل فقرة بالموقع
          p::after{
            content:'';
            height:20px;
            بالكونتنت بحط الي بدي اضيفه ولو خليتها فاضية زي كاني بقله مربع فاضي وبعدها بعطيه طول وعرض وبحطه وين بدي
            هاي هون قاعد بقله انو بعد كل فقرة بالموقع بدي يضيفلي مربع وعرضه 20 بكسل مثلا(ولو حط الخط من فوق بخلي الويدث زي الاب وبحدد الطول) وطوله مية بالمية من الاب  ومثلا بدي شكله ييجي زي خط جنب الفقرة فبحطله
            بوسيتشيون ابسيليوت عشان يصير تحركه للشاشة المفتوحة وبروح للاب تاع الكونتنت الي هي الفقرات وبعملها بوسيشن اي اشي ويفضل ريلاتيف عشان
            يصير التحرك نسبة للاب مش للشاشة المفتوحة وبحطها ليفت زيرو 
            باختصار لو بدي اضهر مربع فاضي قبل او بعد بعمله طول وعرض وبوسيشين
          }
         */ 
         --------------------------------------------------
         /* تحديد موقع العنصر من خلال الاتريبيوت وهو الشغلات الي بكتبها داخل التاغ يعني مثلا بدي كل عنصر اله اتريبيوت 
         type 
         تغير لونه وحجمه وكمان شغلات ثانية 
         او بقدر احدد العنصر والاتريبيوت ونوعه مثلا بدي كل تايب قيمتها تكست تغير صفاتها 
         وغيرها من الطرق هاي طريقة كتابتهن 
         1-[attrepiot]{
         } 
         2-element[attr]{}
         3-[attr="value القيمة مثلا تكست او باسورد"]{}
         4-element[attr="value القيمة مثلا تكست او باسورد"]{}
         5-[attr ^="value"]{} هاي معناها طبق التغييرات على الاتريبيوت الي ببلش بالكلمة المكتوبة
         6-[attr $="value"]{}نفس الي فوق بس هاي الي بتنتهي بالقيمة المكتوبة مثلا حطيت حرف التاء بطبقه على كل اتريبيوت بنتهي بحرف التاء
         7-[attr *="value"]{}هاي يعني كل اتريبيوت قيمته تحتوي على القيمة الموجودة سواء كانت بالاول او الاخير او المنتصف وغيره
         8-[attr ~="value"]{} هس هاي نفس الي فوقها بس الفرق لازم تكون كلمة مستقلة لحالها يعني بزبطش احط قيمة او بضعة حروف من داخل كلمة ثانية مثل الي فوق
         9-[attr="value" i]{} هس كشرح السي اس اس حساسة للحروف كبيرة وصغيرة يعني مثلا الكلاس هو اتريبيوت ومثلا حطيت كلاسس وسميته باسم حروف كبيرة
         واجيت انادي عليه هون عشان اغير عليه شغلات وكتبت الفاليو بحروف صغيرة ما رح تظهر التغيرات بس اذا حطيت الااي يعني انا بقله انساك من تنسيق الحروف
         كبيرة او صغيرة وبشتغل عادي وهاض الاشي الااي بنطبق على كل الي فوق
         */

         @keyframes animation-name{
            /* هون بتيجي الانيميشن الي بدها تصير من البداية 0 للنهاية 100 بالمية وبقدر اقسمها لفترات زي ما بدي وبكل فترة يتغير الانيميشن* /
            /* وبقدر اكتبها بفترتين 
            from{}
            to{}
            او نسبة مئوية
            0%{}
            30%{}
            80%{}
            100%{}
             */
             /* وعشان يشتغل الانيميشن لازم احدد الوقت من خلال كتابته داخل الغتصر الي بدي اعمله انيميشن وبقدر احطله شغلات ثانية مثل الي تحت مثلا */
            
            /* p{
            animation-name: ; اسم بحطه للفقرة هاي مثلا عشان اطبق الانيميشن عليها
            animation-duration: ; وقت النفيذ
            animation-timing-function: ; عشان احدد شكل الحركة وانواعها مثل الترانسيشين حركاتها
            animation-delay: ; وقت الانتظار للتنفيذ
            animation-iteration-count: ;هاي بحط فيها عدد المرات الي بدي الانيميشن ينعاد فيها وبقدر احطها انفنتي
            animation-direction:normal/reverse/alternate ;هاي بتتحكم باتجاه الانيميشن يمشي عكسي او طبيعي او يصير يمشي بدورات عكسية يعني كل لفة باتجاه وهيك 
            animation-fill-mode: ; هاي يعني اختار انه الانيميشن يبلش بالصفات الاصلية للعنصر الي موجودة فيها وبعد ما يخلص الانيميشن برد برجع للاصلية ولا يبلش باصلية وينتهي باخر شكشل لها عند اخر نسبة
            ولا يبدا باول شكل لها عند اول نسبة واخر اشي يرجع للاصلية ولا يبلش باول نسبة ويخلص باخر نسبة 
             هس يخلص باخر نسبة هاي اسمها فورواردس ويبلش باول نسبة هاي اسمها باكووردس واذا الثنتين بكتب بوث واذا يبلش وينتهي بالاصلية وهي افتراضي بكتب نون
            animation-play-state: ; هاي الها قيمتين رنينج يعني شغال او باوسد يعني متوقف وبتخليني اتحكم بالانيميشن شغال او ميشتغلش 
            وبقدر استخدمها مثلا لما بدي اعمل هوفر على العنصر يوقف الانيميشن
            cursor: ;شكل الماوس لما يوقف عالعنثر
            وفي اختصار الهن كلهن اسمه انيميشن وبكتب فيه قيمة كل وحدة بالترتيب الي هن مكتوبات عليه هس
         }
         */


         }
         .try{
            width:100px;
            height:80px;
            background-color: aqua;
      animation-name: try;
      animation-duration: 5s;
      animation-iteration-count:infinite;
      
         }
         @keyframes try{
             0%{
               border-color: red;
             }
             50%{
                border-color: green;

             }
             100%{
                border-color: blue;
             }
         }
         /*اخفاء العنصر وميبينش بستعمل هاي 
         visibilty:hidden;
         -------------------
         عشان احذف العنصر بشكل نهائي واقيمه من الصفحة بحط هاي
         dispaly:none;
         -----------------------------------------------
          وعشان اتحكم بالشفافية للعنصر بستعمل هاي
          opacity: ; الافتراضي واحد واذا دعمله شفاف بصير اقلل عن الواحد*/
         